@import "../customize/vars.scss";

.issues-container {
  border: 1px solid $lighBorderColor;
  border-radius: 3px;

  .issues-container-header {
    display: flex;
    align-items: center;
    min-height: 40px;
    background-color: #f6f8fa;
    border-bottom: 1px solid $lighBorderColor;
  }

  .issues-list {
    .issue-item {
      border-bottom: 1px solid $lighBorderColor;
    }
  }
}