@import "../../customize/vars.scss";

.navigation-tabs {
    text-align: left;
    padding: 0;
    margin: 18px 0 0;
    line-height: 32px;

    .navigation-tab-link {
        padding: 7px 15px 8px;
        color: $color3;
        text-decoration: none;

        &:hover, &.active {
            color: $color4;
        }

        &.active {
            border-color: $color7 $color5 transparent;
            border-style: solid;
            border-width: 1px;
            border-top-width: 3px;
            background-color: white;
        }

        .icon-wrapper {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }

        .count {
            padding: 0 6px;
            margin-left: 6px;
            border-radius: 20px;
            background-color: $color6;
        }
    }

    @media screen and (max-width: $breakpoint-med) {
        display: flex;
        flex-direction: column;

        .navigation-tab-link {
            &.active {
                border: none;
                color: $color0;
                background-color: $color7;
            }

            .count {
                color: $color3;
            }
        }
    }
}
