$color0: #fafbfc;
$color1: #959da5;
$color2: #0366d6;
$color3: #586069;
$color4: #24292e;
$color5: #e1e4e8;
$color6: #e8e9eb;
$color7: #e36209;
$color8: #c4c8cc;
$color9: #28a745;

$commonBorderColor: $color8;
$commonTextColor: $color4;

$hoveredTextColor: $color2;

$lightTextColor: $color3;
$lighBorderColor: $color5;

$success: $color9;
