@import "../../customize/vars.scss";

.header {
    width: 100%;
    background-color: $color0;
    border-bottom: 1px solid $commonBorderColor;

    .project-description,
    .project-description-mobile {
        display: inline-block;
        font-size: 16px;

        .link-author, .link-project {
            color: $color2;
            text-decoration: none;
            padding: 0 5px;

            &:hover {
                text-decoration: underline;
            }
        }

        .link-project {
            font-weight: bold;
        }
    }

    .project-info {
        text-align: left;
        line-height: 30px;
        padding: 16px 0px 8px;

        .statistics {
            display: inline-block;
            float: right;

            .actions {
                display: inline-flex;
                margin-right: 8px;

                button, label {
                    padding: 4px 6px;
                    border: 1px solid $commonBorderColor;
                    cursor: pointer;
                    font-weight: 600;
                }

                button {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    background-color: #eff3f6;
                    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);

                    &:hover {
                        background-image: linear-gradient(-90deg, #fafbfc, #eff3f6 90%);
                    }

                    svg {
                        margin-bottom: -3px;
                    }

                    span {
                        padding: 2px 4px;
                    }

                    + label {
                        background-color: white;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        border-left: 0;

                        &:hover {
                            color: $color2;
                        }
                    }
                }
            }
        }
    }

    .desktop {
        display: none;

        @media screen and (min-width: $breakpoint-med) {
            display: inherit;
        }

        .tablet-container {
            @media screen and (max-width: $breakpoint-large) {
                width: 96%;
            }
        }
    }

    .mobile {
        display: none;

        .project-description-mobile {
            position: absolute;
            left: 40px;
            font-size: 16px;
        }

        .mobile-menu {
            padding: 8px;

            summary {
                display: inline-block;
                padding: 3px;

                &::-webkit-details-marker {
                    display: none;
                }
            }
        }

        @media screen and (max-width: $breakpoint-med) {
            display: inherit;
        }
    }
}
