@import "../../customize/vars.scss";

.footer {
    .fototer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .github-link {
            color: $color3;
        }

        .links-left, .links-right {
            display: inline-block;
            padding-left: 0;

            li {
                display: inline-block;
                margin-right: 16px;
                font-size: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @media screen and (max-width: $breakpoint-med) {
            justify-content: center;
            padding: 18px;

            ul {
                display: none !important;
            }
        }
    }

    .footer-container {
        @media screen and (max-width: $breakpoint-large) {
            width: 96%;
        }
    }
}
