@import "../../customize/vars.scss";

.issues-controls {
    display: flex;
    align-items: center;
    margin: 16px 0;

    .input-wrapper {
        display: inline-block;

        details {
            display: inline-block;

            .filters {
                padding: 4px 5px;
                border: 1px solid $commonBorderColor;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: none;
                cursor: pointer;
            }

            .details-content {
                position: absolute;
                margin-top: 3px;
                z-index: 2;

                ul {
                    margin: 0;
                    padding: 7px;
                    list-style: none;
                    text-align: left;
                }

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        .search-input {
            line-height: 20px;
            padding: 5px 5px 4px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border: 1px solid $commonBorderColor;
            background-color: $color0;
        }
    }

    .central {
        margin-left: 16px;

        .navaigation-item {
            /* TODO: add color for link */
            text-decoration: none;
            color: $lightTextColor;
            font-weight: 600;
            line-height: 32px;
            border: 1px solid $lighBorderColor;

            &:hover {
                /* TODO: add color for background */
                background-color: #f6f8fa;
            }
        }
    }

    .new-issue {
        margin-left: auto;
        padding: 5px 7px;
        border-radius: 3px;
        color: white;
        background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
        text-decoration: none;

        &:hover {
            background-color: #269f42;
            background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
        }

        &:active {
            box-shadow: inset 0 3px 3px #0000003b;
        }
    }

    @media screen and (max-width: $breakpoint-med) {
        .central {
          display: none;
        }
    }
}
