$bradius: 3px;

.buttons-row {
  >* {
    vertical-align: middle;
    padding: 5px 7px;

    &:first-child {
      border-top-left-radius: $bradius;
      border-bottom-left-radius: $bradius;
    }

    &:last-child {
      border-top-right-radius: $bradius;
      border-bottom-right-radius: $bradius;
    }
  }
}