@import "../../customize/vars.scss";

.issue {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
  color: $commonTextColor;

  a {
    text-decoration: none;
    color: inherit;
  }

  .icon-container {
    padding: 3px 9px;
    color: $success;
    text-align: center;
  }

  .issue-title {
    font-size: 16px;
    font-weight: 600;

    > a {     
      &:hover {
        color: $hoveredTextColor;
      }
    }
  }

  .issue-info {
    color: $lightTextColor;
  }

  .label {
    font-size: .75em;
    border-radius: 3px;
    margin: auto 5px;
    padding: 3px 5px;
    box-shadow: inset 0px 1px 2px #d2d2d2;
  }

  &:hover {
    background-color: #f6f8fa;
  }

  .issue-discussing {
    a {
      &:hover {
        color: $hoveredTextColor;
      }

      svg {
        margin: 0 5px -4px 0;
      }
    }
  }
}